{% extends "base.html" %}
{% block content %}
<div class="container">
       <h1 class="text-center">Contact Us</h1>
       <form action="contact" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                     <label for="" class="form-label">Name</label>
                     <input type="text" class="form-control" name="name" id=""
                            placeholder="Enter Full Name">
              </div>
              <div class="mb-3">
                     <label for="" class="form-label">Contact</label>
                     <input type="text" class="form-control" name="contact" id=""
                            placeholder="Enter Contact No">
              </div>
              <div class="mb-3">
                     <label for="" class="form-label">Email</label>
                     <input type="email" class="form-control" name="email" id=""
                            placeholder="Enter Email Id">
              </div>
              <div class="mb-3">
                     <label for="" class="form-label">Course</label>
                     <input type="text" class="form-control" name="course" id=""
                            placeholder="Enter Course">
              </div>
              <div class="mb-3">
                     <label for="" class="form-label">Comments</label>
                     <textarea class="form-control" name="comment" id="" rows="3"></textarea>
              </div>
              <div class="mb-3">
                     <button type="submit" class="btn btn-primary">Submit</button>
              </div>
       </form>
</div>

{% endblock content %}