{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>{{fullDetails.heading}}</h1>
    <div class="container-my-5">
        <div class="row">
            <div class="col-md-8">
                <p>{{fullDetails.csummary}}</p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{fullDetails.cimg.url}}">
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}