{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Our All Courses</h1>
<div class="container">
       <div class="row my-5">
              {% for i in all %}
              <div class="col-md-4">
                     <div class="card" style="width: 18rem;">
                            <img src="{{i.cimg.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                   <h5 class="card-title">{{i.cname}}</h5>
                                   <p class="card-text">{{i.csummary | truncatechars:100}}</p>
                                   <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                     </div>
              </div>
              {% endfor %}
       </div>
</div>

{% endblock content %}